.modal {
	background-color: var(--bg-modal);
	z-index: 99;

	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;

	height: 100vh;

	display: flex;
	justify-content: center;
	align-items: center;
	transition: all 0.5s;

	animation: showModal 0.5s easy-out;
}

@keyframes showModal {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 100%;
	}
}

.modal__content {
	width: 300px;
	height: 200px;
	letter-spacing: 0.5px;
	background-color: var(--bg-milk);

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	border: 3px solid var(--bg-dekstop-nav);
	border-radius: 15px;

	position: relative;

	animation: showModalContent 0.5s easy-out;
}

.modal__content-body {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	padding: 0;
}

@keyframes showModalContent {
	0% {
		opacity: 0;
		transform: translateY(-300px);
	}
	100% {
		opacity: 100%;
		transform: translateY(0px);
	}
}

.modal__btn-close {
	position: absolute;
	top: 4px;
	right: -5px;
	opacity: 0.3;
	width: 20px;
	height: 20px;

	padding: 0;
	cursor: pointer;
}

.modal__btn-close:hover {
	opacity: 1;
}

.modal__btn-close:before,
.modal__btn-close:after {
	content: " ";
	position: absolute;
	top: 0px;
	left: 0px;
	height: 20px;
	width: 2px;
	background-color: var(--clr-black);
}

.modal__btn-close:before {
	transform: rotate(45deg);
}

.modal__btn-close:after {
	transform: rotate(-45deg);
}

.modal__subtitle {
	text-align: center;
	white-space: pre-wrap;
	margin-top: 10px;
	padding: 10px;
}

.modal__btn-ok {
	background-color: var(--clr-button);
	color: var(--bg-white);
	min-width: 125px;
}

.modal__btn-ok:hover,
.modal__btn-ok:active {
	background-color: var(--clr-hover-button);
	box-shadow: 0 4px 6px var(--clr-button);
}

@media screen and (min-width: 767px) {
	.modal__content {
		width: 340px;
		height: 250px;
	}
}
