.navigation {
	height: 602px;
	position: fixed;
	right: 110%;
	top: 72px;
	transition: transform 0.3s ease;
	width: 100%;
	background-color: var(--bg-mobile-nav);
}

.navigation__wrapper {
	padding-top: 50px;
	padding-bottom: 40px;
}

.navigation__link {
	margin-bottom: 10px;
	line-height: 24px;
	color: var(--bg-white);
	position: relative;
	display: inline-block;
	cursor: pointer;
}

.navigation__link::after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 0;
	height: 2px;
	background-color: var(--bg-white);
	transition: width 0.3s ease-out;
}

.navigation__link:hover::after {
	width: 100%;
}

.navigation__btn {
	font-weight: 700;
	color: var(--bg-dekstop-nav);
	background-color: var(--bg-header);
	border: 1px solid var(--bg-header);
}

.navigation__btn:hover,
.navigation__btn:active {
	color: var(--bg-white);
	background-color: var(--clr-button);
	box-shadow: 0 4px 6px var(--bg-white);
	border: 1px solid var(--clr-button);
}

.isOpen {
	transform: translate(110%);
	opacity: 0.9;
	z-index: 2;
}

@media screen and (min-width: 767px) {
	.navigation {
		display: block;
		position: initial;
		height: 45px;
		background-color: var(--bg-dekstop-nav);
	}

	.navigation__wrapper {
		padding: 10px 0;
	}

	.navigation__link {
		margin-bottom: 0;
	}

	.navigation__links {
		display: flex;
		justify-content: flex-start;
	}

	.navigation__link {
		margin-right: 30px;
	}

	.navigation__btn {
		display: none;
	}
}
