.header {
	background-color: var(--bg-header);
}

.header__wrapper {
	display: grid;
	grid-template-columns: 140px 1fr;
	padding: 20px 0;
}

.header__logo-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header__logo {
	width: 62px;
	color: var(--clr-button);
}

.header__contact-info {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-end;
}

.header__contact-btn {
	display: none;
}

.header__contact-btn:hover,
.header__contact-btn:active {
	background-color: var(--clr-hover-button);
	box-shadow: 0 4px 6px var(--clr-button);
}

@media screen and (min-width: 767px) {
	.header__wrapper {
		grid-template-columns: 1fr 1fr;
	}

	.header__logo-container {
		justify-content: flex-start;
	}

	.header__logo {
		margin-right: 20px;
		width: 92px;
	}

	.header__contact-info {
		flex-direction: row;
		justify-content: flex-end;
		align-items: center;
	}

	.header__contact-btn {
		color: var(--bg-white);
		background-color: var(--clr-button);
		margin-left: 35px;
		display: block;
	}
}
