.hero {
	margin-bottom: 51px;
}

.hero__wrapper {
	display: flex;
	flex-direction: column;
}

.hero__image {
	height: 288px;
	background: url("./image/cabinet.png") center/cover no-repeat;
}

.hero__content {
	height: 261px;
}

.hero__title {
	font-size: 26px;
	font-weight: 700;
	padding-top: 35px;
	margin-bottom: 9px;
	max-width: 270px;
}

.hero__subtitle {
	font-size: 14px;
	max-width: 270px;
}

.layout-reset {
	padding: 0;
}

@media screen and (min-width: 369px) {
	.hero__subtitle {
		max-width: 370px;
	}
}

@media screen and (min-width: 767px) {
	.hero__wrapper {
		flex-direction: row-reverse;
		height: 533px;
	}

	.hero__image,
	.hero__content {
		height: 100%;
		width: 100%;
	}

	.hero__content {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	.hero__title {
		font-size: 36px;
		margin-bottom: 14px;
		max-width: 370px;
	}

	.hero__subtitle {
		font-size: 16px;
	}

	.layout-background {
		background-color: var(--bg-milk);
		width: 100%;
	}
}
